<!-- This is the signup form-->

<form action="/users/new" method="post">

<!-- this is for new username -->
  <div>
    <div>Username:<input type="user_name"name="name" value=""/>
    </div>
  </div>

<!-- this is for new password -->
  <div>
    <div>Password:<input type="password" name="password" value""/>
    </div>
  </div>

<!-- this is for password confirmation -->
  <div>
    <div>Confirm:
      <input type="password" name="password_confirmation" value=""/>
    </div>
  </div>

  <input type="submit" value="Register"/>
</form>
