

<!-- new user button takes user to sign up page -->
<!-- <form action="/user/new" method="get">
  <input type="submit" value="signup">
</form>


<! this form is created for current users to login -->
<!-- <form action="" method="post">
  <input type="text" name="name">
  <input type="text" name="password">
  <input type="submit" value="login">
</form> -->




<!-- this is supposed to be sign up -->
<form action ="/users/new" method="get">

  <div class="row">
    <div class="six columns">
      <input class="button-primary" type="submit" value="Signup">

</form>

<!-- this is supposed to be login -->
<form action="/users/<% @user.id %>" method="post">

  <label for="PasswordBox">Username</label>
  <input class="u-half-width" placeholder="Username" id="exampleMessage">

  <label for="PasswordBox">Password</label>
  <input class="u-half-width" placeholder="Password" id="exampleMessage">
  <div>
    <input class="button-primary" type="submit" value="Submit">
  </div>

</form>
