

<!-- new user button takes user to sign up page -->
<!-- <form action="/user/new" method="get">
  <input type="submit" value="signup">
</form>


<! this form is created for current users to login -->
<!-- <form action="" method="post">
  <input type="text" name="name">
  <input type="text" name="password">
  <input type="submit" value="login">
</form> -->





<form action ="/user/new" method="get">
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput"></label>
      <input class="u-full-width" type="signup" placeholder="Username" id="exampleEmailInput">
</form>

  <form action="user/<% @user.id %>" method="post">
  <label for="exampleMessage">Username</label>
  <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
  <input class="button-primary" type="submit" value="Submit">
</form>
