<div class="back">
</div>

<div class= "container">
	<hr class="Hline">
	<p class="title"> FLYTWITTER</p>
	<hr class="Hline" size="10">
	<a href="http://imgur.com/u5yxYDv"><img src="http://i.imgur.com/u5yxYDv.gif" title="source: imgur.com" class="logo slideOutUp"/></a>
	<div class="logsignDiv">
		<p><p>	
	</div>


	<!-- This is the login form-->
	<div class="loginForm col-xs-4">
		<form action="user/<%@user.id%>" method="post" class="login" >
  			<input type="text" name="name" class="form-control" placeholder="username" id="ex3"><p>
  			<input type="text" name="password" class="form-control textarea" placeholder="password"><p>
  			<button type="button" class="btn btn-default signupButton">Register</button>
  			<input type="submit" value="login" class="btn btn-info">
		</form>
	</div>

	<!-- This is the signup form-->
	<div class="signupForm col-xs-4" id="inner">
		<form action="/user/new" method="post"><p>
			<input type="text" name="name" placeholder="full name" class="form-control"><p>
			<input type="text" name="handle" placeholder="handler/username" class="form-control"><p>
			<input type="text" name="email" placeholder="email" class="form-control"><p>
			<input type="text" name="password_hash" placeholder="password" class="form-control"><p>
			<button type="button" class="btn btn-default signupButton">Login?</button>
  			<input type="submit" value="Signup" class="btn btn-info">
		</form>
	</div>

	
</div>




